<div id="footer_wrap" class="outer">
  <footer class="inner">
    {% if site.github.is_project_page %}
      <p class="copyright">{{ site.title | default: site.github.repository_name }} is maintained by 
        <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
        <span class="font12">(<email data-local="work.aleab" data-domain="gmail.com"/>)</span>
      </p>
    {% endif %}
    <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
  </footer>
</div>