<div id="header_wrap" class="outer">
  <header class="inner">
    <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>

    <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
    <span id="project_fork">forked from <a href="{{ site.github.forked_repo_url }}">nachmore/toastify</a></span>
    
    <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

    {% if site.show_downloads and include.hide_downloads != false %}
      <section id="downloads">
        <a class="zip_download_link" href="{{ site.github.repository_url }}/zipball/master">Download the project as a .zip file</a>
        <a class="release_download_link" href="{{ site.github.repository_url }}/releases/latest">Download the latest release</a>
      </section>
    {% endif %}
  </header>
</div>