<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
{% include scripts-ga.html %}
<script type="text/javascript">
  // Emojify
  emojify();

  // Get latest GitHub release
  getLatestRelease('{{ site.repository }}', function(data) {
      var assets = data['assets'];
      if (typeof assets != "undefined" && assets != null && assets.length != null && assets.length > 0) {
          var dlUrl = assets[0]['browser_download_url'];
          if (dlUrl.endsWith('.exe')) {
              // Update the latest release download at the top of the page
              if ($('.release_download_link')[0] !== undefined) {
                  $('.release_download_link')[0].href = dlUrl;
              }
              
              // Update the latest release download link in the 'Installation' section
              if ($('#inst-latest')[0] !== undefined) {
                  $('#inst-latest')[0].href = dlUrl;
              }
          }
      }
  });

  // Replace email
  generateMailTo();
</script>