<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
  <meta name="author" content="{{ site.github.owner_name }}">
  <title>{{ site.title }}</title>
  <link rel="icon" href="./img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" type="text/css" media="screen" href="./css/custom.css">
  <script src="./js/scripts.js"></script>
  <script src="./js/gh-api.js"></script>
  {% seo title=false %}
</head>

<body>
  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>

      <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
      <span id="project_fork">forked from <a href="{{ site.github.forked_repo_url }}">nachmore/toastify</a></span>
      
      <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

      {% if site.show_downloads %}
        <section id="downloads">
          <a class="zip_download_link" href="{{ site.github.repository_url }}/zipball/master">Download the project as a .zip file</a>
          <a class="release_download_link" href="{{ site.github.repository_url }}/releases/latest">Download the latest release</a>
        </section>
      {% endif %}
    </header>
  </div>

  <!-- MAIN CONTENT -->
  <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
      {{ content }}
    </section>
  </div>

  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="inner">
      {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} is maintained by 
          <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
          <span class="font12">(<email data-local="work.aleab" data-domain="gmail.com"/>)</span>
        </p>
      {% endif %}
      <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
    </footer>
  </div>

  <!-- SCRIPTS -->
  {% if site.google_analytics %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript">
    // Emojify
    emojify();

    // Get latest GitHub release
    getLatestRelease('{{ site.repository }}', function(data) {
        var assets = data['assets'];
        if (typeof assets != "undefined" && assets != null && assets.length != null && assets.length > 0) {
            var dlUrl = assets[0]['browser_download_url'];
            if (dlUrl.endsWith('.exe')) {
                // Update the latest release download at the top of the page
                $('.release_download_link')[0].href = dlUrl;
                
                // Update the latest release download link in the 'Installation' section
                $('#inst-latest')[0].href = dlUrl;
            }
        }
    });

    // Replace email
    generateMailTo();
  </script>
</body>
</html>