<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
  <meta name="author" content="{{ site.github.owner_name }}">
  <title>Thank You</title>
  <link rel="icon" href="{{ '/img/favicon.ico' | relative_url }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Source+Sans+Pro:400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/css/custom.css' | relative_url }}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/css/thanks.css' | relative_url }}">
  <script src="{{ '/js/scripts.js' | relative_url }}"></script>
  <script src="{{ '/js/api.js' | relative_url }}"></script>
  <style>body { overflow: hidden; }</style>
</head>

<body>
  {% include header-small.html %}

  <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner no-padding">
      <div id="ty_container">
        <span id="ty" class="unselectable not-visible">Thank You!</span>
        <div id="quote_container" class="unselectable not-visible">
          <span class="message">Here's a random quote for you:</span>
          <div id="quote"></div>
          <small class="light">(powered by <a id="quote_link" href="https://forismatic.com/en/">forismatic.com</a>)</small>
        </div>
      </div>
    </section>
  </div>

  {% include scripts.html %}
  <script src="{{ '/js/thanks.js' | relative_url }}"></script>
</body>
</html>